.App {
  text-align: center;
}

.navbar {
  font-size: 25px;
  color: black;
  background-color: black;
}

body {
  background-color: rgb(49, 49, 49);
  color: white;
}

.portfolio {
  width: 100vw;
  height: calc(100vh - 4.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.portfolio .details {
  text-align: center;
}

.profileImage {
  width: 30rem;
  object-fit: cover;
  border-radius: 1rem;
  border: 3px solid #ffc008;
  transition: all 1s;
}

.profileImage:hover {
  transform: rotate(5deg) scale(1.05);
  border: 3px solid #ffc008;
}

.imgCard {
  height: 170%;
  width: 100%;
}
